name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
        
      - name: Gihub test build  
        run: docker build . --file Dockerfile --tag docker_stm32:$(date +%s)
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
